/* General */
* {
	font-family: Calibri;
}

body {
	background-color: rgb(242, 242, 242);
}

/* Tool Bar */
.toolBar {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
}

.toolBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolBar ul li {
    /*border-right: 1px solid white;*/
    color: white;
    float: left;
    padding: 10px;
    width: 25%;
    text-align: center;
    min-width: 120px;
    border: 1px solid black;
}

.toolBar ul li:hover {
    background-color: white;
    color: black;
}

.toolBar ul a {
    text-decoration: none;
}

.toolBar_otherSpacer {
    margin-top: 78px;
}

/* Footer */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer_List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_List li {
    margin-left: 5px;
    float: left;
}

/* Main Contents */
.main_LeftPanel {
    /* background-color: red;  */

    width: 50%;
    float: left;
    padding-right: 5px;
}

.main_RightPanel {
    /* background-color: yellow; */

    width: 50%;
    float: right;
    padding-left: 5px; 
}

.main_Header {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.main_Header_Price {
    margin: 3px;
    text-align: center;
}

.main_List {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 755px;
}

.main_List li {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid black;
    position: relative;
}

.main_List_Header {
    /* position: absolute;
    left: 0px;
    top: 0px; */
    font-weight: bold;
}

.main_List_Button {
    position: absolute;
    right: 0px;
    top: 0px; 
    background-color: black;
    color: white;
    border: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.main_List_Button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-left: 1px solid black;
}

.main_Image {
    width: 100%;
}