/* General */
* {
	font-family: Calibri;
}

body {
	background-color: rgb(242, 242, 242);
}

/* Tool Bar */
.toolBar {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 10;
}

.toolBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolBar ul li {
    /*border-right: 1px solid white;*/
    color: white;
    float: left;
    padding: 10px;
    width: 20%;
    text-align: center;
    min-width: 120px;
    border: 1px solid black;
}

.toolBar ul li:hover {
    background-color: white;
    color: black;
}

.toolBar ul a {
    text-decoration: none;
}

.toolBar_otherSpacer {
    margin-top: 78px;
}

/* Footer */
.footer {
    position: relative;
    /* right: 0; */
    bottom: 0;
    left: 0;
}

.footer_List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_List li {
    margin-left: 5px;
    float: left;
}

/* Tool Tips | Thanks to Chris Bracco */
[data-tooltip] {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  z-index: 9;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid white;
  z-index: 9;
}

/* [data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
} */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Finish and Link Modal Panel */
.modal {
    border: 1px solid black;
}

.modal_MainHeader {
    border-bottom: 1px solid black;
}

.modal_MinorHeader {
    border-bottom: 1px solid black;
    font-weight: bold;
    width: 20%;
    margin-bottom: 3px;
}

.modal_BreakdownTable {
    margin-bottom: 5px;
}

.modal_BreakdownTable tr th {
    /* padding-left: 10px; */
    text-align: left;
}

.modal_BreakdownTable tr th a {
    text-decoration: none;
    font-style: italic;
}

.modal_LeftPanel {
    width: 66%;
    float: left;
    padding-right: 5px;
    overflow: hidden;
}

.modal_RightPanel {
    width: 33%;
    float: right;
    padding-left: 5px; 
}

.modal_MenuButton {
    position: relative;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px;
    font-size: 1vw;
    min-height: 3vw;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    float: right;
    margin-left: 5px;
    bottom: 0px;
    right: 0px;
}

.modal_MenuButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal_closeButton {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.modal_closeButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal_removeItemButton {
    background-color: transparent;
    color: red;
    border: none;
    outline: none;
    height: 3%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 100%;
}

.modal_removeItemButton:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.modal_iFrame {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.modal_iFrame iframe {
    width: 95%;
    /* height: 500px; */
    height: 35em;
    border: none;
}

/* Ad Bar */
.adBar {
    width: 100%;
}

.adBar_left {
    float: left;
    width: 50%;
    max-height: 10%;
}

.adBar_right {
    float: right;
    width: 50%;
    max-height: 10%;
}

/* Main Contents */
.main_LeftPanel {
    width: 50%;
    float: left;
    padding-right: 5px;
}

.main_RightPanel {
    width: 50%;
    float: right;
    padding-left: 5px; 
}

.main_Header {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.main_Header_Price {
    margin: 3px;
    text-align: center;
}

.main_List {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 755px;
}

.main_List li {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}

.main_List_Header {
    /* position: absolute;
    left: 0px;
    top: 0px; */
    font-weight: bold;
}

.main_List_Button {
    position: absolute;
    right: 0px;
    top: 0px; 
    background-color: black;
    color: white;
    border: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.main_List_Button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-left: 1px solid black;
}

.main_Image {
    width: 100%;
}

.main_ImageContainer {
    position: relative;
}

.main_CancelButton {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.main_CancelButton:hover {
    outline: 0;
    cursor: pointer;
    color: black;
}

.main_Cancel_ListItem {
    background-color: black;
}

.main_Cancel_ListItem:hover {
    background-color: white;
}

.main_SelectorButton {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    width: 7%;
    height: 7%;
    padding: 1px;
    font-size: 1vw;
    z-index: 3;
    /* Location is set directly in the HTML since there's a lot */
}

.main_SelectorButton:focus {
    outline: 0;
}

.main_SelectorButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.main_ProductLink {
    text-decoration: none;
    font-style: italic;
}

.main_ExtraItemForum {
    width: 100%;
}

.main_ExtraItemForum .inputs {
    margin-left: 5px;
}

.main_ExtraItemForum .inputs input {
    width: 75%;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
}

.main_ExtraItemForum .inputs select {
    width: 75%;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
}

.main_ExtraItemForum .inputs h4 {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

.main_ExtraItemForum .inputs p {
    margin-top: 0px;
    margin-bottom: 3px;
}

.main_ExtraItemForum button {
    margin-top: 5px;
    width: 74.5%;
    margin-left: 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
}

.main_ExtraItemForum button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.main_ExtraItemForum .inputs .extraForumRadioButtons .extraForumRadioButton {
    width: 5%;
}

/* TODO: Add animations to Node Menus appearing */